:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  color: #403c3cde;
  background-color: hwb(330 46% 51%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
}
